*{transition:all 0.3s ease-in-out;}

.container{
  	clear:both;
  	overflow:auto;
 	height: 150px;
}

nav{float:left;}

.logo img{float:left;}

ul li{
  	display: inline-block; padding: 15px; width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

a{
  	text-decoration: none;
  	color: #000000;
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
	height: 1px;
}

ul {
	list-style: circle;
}

nav a:hover { 
	text-decoration: underline;
	color: rgb(252, 185, 104);
}


.box{
    width: 100%;
    text-align:center;
	margin-top: 30px;
}



.containerr{
    padding-bottom: 50px;
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
}
.thongtin button{
	position: absolute;
    padding: 10px 15px;
    background-color: wheat;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.thongtin button:hover{
    background: #FFEBCD;
} 



td{
	padding: 15px;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}


.footer{
	background-color: #f0ecea;
	width: 100%;
	color: #000000;
	height: 250px;
	line-height: 2px;
	margin-top: 30px;
}
.footer a{color: black;
}
